
@{
    ViewData["Title"] = "Let's talk";
}


<section class="container">
    <div class="pb-3 row">
        <div class="col">
            <textarea type="text" class="rounded md-textarea form-control" readonly rows="10"></textarea>
        </div>
    </div>
    <form>
        <div class="form-group">
            <label> Type your message</label>
            <input type="text" class="form-control" placeholder="Write your message here" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>


