
@{
    ViewData["Title"] = "Let's talk";
}

@section Scripts{
    @*Load the signalr script client*@
    <script src="~/lib/signalr/signalr.js"></script>
    @*Signalr client methods*@
    <script src="~/js/clientConnection.js"></script>
    @*Page functions*@
    <script type="module" src="~/js/home/home.js"></script>

}

@section Styles{
    @*Page css*@
    <link rel="stylesheet" href="~/css/home/home.css">
}

<section class="container">
    <div class="pb-3 row">
        <div class="col">
            <textarea id="listMessages" type="text" class="shadow border border-top-1 border-bottom-1 border-dark rounded-3 bg-white text-dark font-weight-normal pl-2  form-control prompt-messages bg-image-paper" readonly rows="10"></textarea>
        </div>
    </div>
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-transparent border-0">Your name:</span>
            </div>
            <div class="col-5">
                <input type="text" id="userName" class="form-control bg-transparent border-0 border-bottom-3 border-secondary" placeholder="Write your name hire" />
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-transparent border-0"> Type your message:</span>
            </div>
            <div class="col">
                <input type="text" id="txtMessage" class="form-control bg-transparent border-0 border-bottom-3 border-secondary" placeholder="Write your message here" />
            </div>
        </div>
        <div class="input-group mb-3">
            <a href="#" id="btnSendMessage" class="btn btn-primary">Send</a>
        </div>
    </form>
    @await Html.PartialAsync("~/Views/Shared/Modal/_BasicModalMessage.cshtml")
</section>


