/*Configure the page logo*/
.img-header {
    height: 15vh; 
    border-radius: 40% !important;
}

/*Alert image that is showed on popup messages on role web site*/
.imgModalAlert {
    content: url('/images/alert.png');
}
